extends layout 

block content
  fieldset 
    legend Add new message 
    form(method="post" action="/new")
      label(for="author") Author:
      input(type="text" id="author" name="author")
      label(for="message") Message:
      textarea(name="message" id="message", cols="30", rows="10") 
      button(type="submit") submit 