@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Javanese:700|Noto%20Sans%20Javanese:400');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans Javanese';
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans Javanese';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4, legend {font-size: 1.777rem; /* 28.48px */}

h5, label, button {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

header {
  display: flex;
  justify-content: center;
}

.message {
  max-width: 800px;
  border: 1px solid black;
  padding: 20px;
}
form {
  display: flex;
  padding: 20px;
  gap: 10px;
  flex-direction: column;

}
label {
  display: block;
}
button {
  padding: 20px;
  border-radius: 10px;
}